
.boton-celeste {
    background-color:  #2EC4F4;

    color: black;
    border-radius: round($number: 0);
    font-weight: $bold;
    padding: 1rem 3rem;
    text-align: center;
    margin-top:2 ;
    display:block;
   
}

//BOTON PARA LA SECCION DE CUALIDADES
.boton-nosotros{
    background-color:  #2EC4F4;
    color: black;
    border-radius: round($number: 0);
    font-weight: $bold;
    padding: 1rem 3rem;
    text-align: center;
    margin-top:2 ;
    display:block;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    text-transform: uppercase;
}


//BOTON PARA LA SECCION DE PROPIEDADES
.bton-ver-propiedades{
    justify-content: flex-end;

    background-color:#2EC4F4;

    background-color: #9BCB46;

    color: black;
    font-weight: $bold;
    padding: 2rem 3rem;
    text-align: center;
    margin-top:2 ;
    
   
}


//BOTON PARA LA SECCION DE PROYECTOS
.bton-ver-proyectos{
     justify-content: flex-end;
    background-color:#00b0e6;
    color: black;
    font-weight: $bold;
    padding: 2rem 3rem;
    text-align: center;
    margin-top:2 ;
    
}

.boton-formulario{
    background-color:  #2EC4F4;
    color: black;
    border-radius: round($number: 0);
    font-weight: $bold;
    padding: 1rem 3rem;
    text-align: center;
    margin-top:2 ;
    display:block;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    text-transform: uppercase;

}


.boton-eliminar{
    width: 100%;
    justify-content: flex-end;
    background-color:#b33445;
    color: rgb(255, 255, 255);
    font-weight: $bold;
    padding: 2rem 3rem;
    text-align: center;
    margin-top:2 ;
    width: 100%;
    
}

.boton-Actualizar{
    width: 100%;
    justify-content: flex-end;
    background-color:#1d11a3;
    color: rgb(255, 255, 255);
    font-weight: $bold;
    padding: 2rem 3rem;
    text-align: center;
    margin-top:2 ;
    
}
