 
.boton-amarillo {
    background-color: #287aa2;

}
.boton-celeste {
    background-color: $celeste;
    color: black;
    border-radius: round($number: 0);
    font-weight: $bold;
    padding: 1rem 3rem;
    text-align: center;
    margin-top:2 ;
    display:block;
   
    
}

.bton-ver-propiedades{
    justify-content: flex-end;
    background-color:#287aa2;
    color: black;
    font-weight: $bold;
    padding: 2rem 3rem;
    text-align: center;
    margin-top:2 ;
    
   
}

.bton-ver-proyectos{
    background-color: $celeste;
    color: black;
    border-radius: round($number: 0);
    font-weight: $bold;
    padding: 1rem 3rem;
    text-align: center;
    margin-top:2 ;
    display:block;
    
}
