.boton-amarillo {
    background-color: #4d8d53;
    color: black;
    border-radius: round($number: 0);
    font-weight: $bold;
    padding: 1rem 3rem;
    text-align: center;
    margin-top:2 ;
    display:block;
   
    
}

