.dark-mode{
    background-color: rgb(56, 56, 56);

    .header{
        background-color: #63812b;
    }

    .footer{
        background-color: #63812b;
    }

    


    p,a{
        color: white;
    }

    h1,h2,h3,h4{
        color: rgb(192, 192, 192);
    }
    .anuncio{
        background-color: gray;
    }
    .precio{
        color: rgb(97, 153, 97);
    }
}


