
.no-webp .inicio{
   background-image: url(../img/CemproInicio.jpg);
}
.webp .inicio{
    background-image: url(../img/CemproInicio.jpg);
}




.header{


    background-color: #595a57;

    background-color: #61635d;

    padding: 1 rem 0 3 0;

    background-color: #929391;
    padding: 1 rem 0 3rem 0;


    &.inicio{
        background-position: center center;
        background-size: cover;

        @include tablet{
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        

        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h1{
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        
    }


}